/* Estilos generales */

body {
    background-color: rgb(83, 83, 83);
    position: relative;
    padding-bottom: 3em;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
   

  }
  
  .container {
    background: url('/media/Fondo.jpg') no-repeat center center fixed;
    background-size: cover;
  }
 
  .caja {
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color: gray;
    margin-right: 10px;
    
   
  }
  
  .btn.btn-primary {

    text-align: center;
    width: 350px;

  }

  
  p {
    color: whitesmoke; 
    font-size: 20px; 
    padding: 10px; 
   text-align: center;
  }
  
  h1 {
    text-align: center;
    font-family: "CaviarDreams";
    color: white;
  }
  
  h2 {
    text-align: center;
    color: whitesmoke;
  }
  
  h4 {
    text-align: left;
    font-size: 20px;
    padding:  10px;
    color: white;
  }
  
  li {
    font-size: 10px;
  }
  
  nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: aquamarine;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
    font-size: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
  }
  
  main h1, main h2, main h3, main img {
    margin: 0;
  }
  
  main h1 {
    margin-bottom: 20px;
    font-family: "CaviarDreams";
    text-align: center;
  }
  
  main img {
    max-width: 100%;
  }
  
  footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  
  /* Estilos para pantallas pequeñas */
  
  @media only screen and (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    main img {
      margin-top: 20px;

    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Estilo para celus */
  
    main h1 {
      font-size: 28px;
    }
  
    main h2 {
      font-size: 24px;
    }
  
    main h3 {
      font-size: 18px;
    }
  
    .caja {
      width: 200%;
      height: 120px;
      margin: 5px;
      padding: 60px;
    }
  }
  